@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/************************/
/* 01. Globals          */
/* 02. Nav              */
/* 03. Hero             */
/************************/

/************************************************/
/* 01. Globals          */
/************************************************/
:root {
  --clr-primary: #213524;
  --clr-primary-light: #a9beac;
  --clr-primary-transparent: #213524c0;
  --clr-secondary: #ffffff;
  --clr-accent: #f2b926;
  --grid-columns: 1fr 500px 500px 1fr;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-primary-light);
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

header {
  color: var(--clr-secondary);
}
/************************************************/
/* 02. Nav              */
/************************************************/

.mainnav {
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
  padding: 0.5em;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.logo h2 {
  margin: 0;
}

.mainnav ul {
  display: none;
}

.hamburger {
  position: absolute;
  width: 2em;
  height: 2em;
  border: 3px solid;
  right: 1em;
  border-radius: 0.3em;
  display: grid;
  place-items: center;
  padding: 0.2em;
}

.hamburger__line {
  height: 0.2em;
  width: 1em;
  background-color: var(--clr-secondary);
  border-radius: 0.2em;
}

@media screen and (max-width: 1063px) {
  .hamburger--open .hamburger__line1 {
    transform: translatey(0.425em) rotate(45deg);
  }
  .hamburger--open .hamburger__line2 {
    transform: translatex(200%);
    opacity: 0;
  }
  .hamburger--open .hamburger__line3 {
    transform: translatey(-0.425em) rotate(-45deg);
  }

  .mainnav ul {
    top: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    list-style-type: none;
    background-color: var(--clr-primary);
    padding: 1em;
    margin: 0;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 400ms ease 300ms;
  }

  .mainnav ul.navlist--open {
    transform: scaleY(1);
    transition: transform 400ms ease;
  }

  .mainnav a {
    opacity: 0;
    transition: opacity 200ms ease;
  }

  .mainnav ul.navlist--open a {
    opacity: 1;
    transition: opacity 200ms ease 300ms;
  }
}

/* Nytt för torsdag börjar här: 
@media screen and (max-width: 1063px) {
  body {
    overflow-x: hidden;
  }

  .hamburger__line {
    transition: transform 400ms ease, opacity 200ms ease 200ms;
  }

  .hamburger--open .hamburger__line1 {
    transform: translateX(0.04em) translateY(0.4em) rotate(45deg);
  }

  .hamburger--open .hamburger__line2 {
    transform: translateX(200%);
    opacity: 0;
  }

  .hamburger--open .hamburger__line3 {
    transform: translateX(0.04em) translateY(-0.4em) rotate(-45deg);
  }

  .mainnav ul {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--clr-primary);
    margin: 0;
    padding-bottom: 1em;

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms ease-out 300ms;
  }

  .mainnav ul.mainnav--open {
    transform: scaleY(1);
    transition: transform 300ms ease-out;
  }

  .mainnav a {
    transition: opacity 300ms ease-out;
    opacity: 0;
  }

  .mainnav ul.mainnav--open a {
    transition: opacity 300ms ease-out 250ms;
    opacity: 1;
  }
}
/* */

.mainnav a {
  text-decoration: none;
  color: var(--clr-secondary);
}

.mainnav a:hover,
.mainnav a:focus {
  color: var(--clr-primary-light);
}

.mainnav .currentPage {
  color: var(--clr-accent);
}

@media screen and (min-width: 1064px) {
  .mainnav {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: var(--grid-columns);
    height: max-content;
  }

  .logo {
    grid-column: 2/3;
  }
  .mainnav ul {
    width: 100%;
    grid-column: 3 / 4;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  .hamburger {
    display: none;
  }
}
/************************************************/
/* 03. Hero             */
/************************************************/

.hero {
  background-color: var(--clr-primary);
  background: url(../img/forest.png);
  background-position: center;
  min-height: calc(100vh - 3em);
  padding: 2em 0;
}

.hero h1 {
  text-transform: uppercase;
  font-size: clamp(2rem, 1.5rem + 5vw, 3.5rem);
  text-align: center;
  margin: 1em;
  margin-bottom: 2em;
}

@media screen and (max-width: 400px) {
  .hero h1 {
    max-width: 10ch;
    overflow-wrap: hyphenate-word;
    hyphens: auto;
    margin: 1em auto;
  }
}

.hero h3 {
  padding: 1em 1.5em;
  background-color: var(--clr-primary);
  font-size: 1.75rem;
  font-weight: normal;
  text-align: center;
}

.btn {
  display: block;
  cursor: pointer;
  color: var(--clr-secondary);
  text-decoration: none;
  background-color: var(--clr-primary);
  padding: 0.5em 1em;
  border-radius: 1.5em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-primary-light);
}

.btn--primary {
  color: var(--clr-primary);
  background-color: var(--clr-accent);
}
.btn--secondary {
  background-color: transparent;
  border: 2px solid;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 2em;
}

@media screen and (min-width: 600px) {
  .btns {
    flex-direction: row;
  }
}

@media screen and (min-width: 1064px) {
  header {
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-template-rows: 3rem auto;
    min-height: 100vh;
  }

  .hero {
    place-self: center;
    position: relative;
    display: grid;
    --first-col: 400px;
    grid-template-columns: var(--first-col) 1fr 2fr;
    max-width: 1000px;
    grid-column: 2/4;
    min-height: unset;
    padding: 3em 0 0;
  }

  .hero h1 {
    grid-column: 1/3;
    margin: 0;
    text-align: left;
    margin-inline: 2rem;
    z-index: 1;
    font-size: 3.5rem;
  }

  .hero h3 {
    grid-column: 1;
    text-align: left;
    margin-inline: 2rem;
    padding: 0;
    background: unset;
    z-index: 1;
  }

  .btns {
    justify-self: center;
    grid-column: 1;
    z-index: 1;
  }

  .btn {
    flex-grow: 0;
  }

  .greenBg {
    position: absolute;
    background-color: var(--clr-primary);
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--first-col);
  }

  .squares {
    grid-column: -1/-2;
    grid-row: 2/4;
    place-self: end;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 4em);
    grid-template-rows: 1fr repeat(4, 4em);
  }

  .square {
    height: 4em;
    width: 4em;
    background: var(--clr-primary-light);
  }

  .square1 {
    grid-column: -1;
    grid-row: 2;
  }

  .square2 {
    grid-column: -2;
    grid-row: 3;
  }
  .square3 {
    grid-column: -3;
    grid-row: 4;
  }

  .square4 {
    grid-column: -1;
    grid-row: 4;
  }
  .square5 {
    grid-column: -2;
    grid-row: 5;
  }
}
